html,
body {
	background: rgba(27, 40, 55, 1) 55%;
}
.header {
	background: rgb(26, 58, 83);
	background: radial-gradient(
		circle,
		rgba(26, 58, 83, 1) 0%,
		rgba(27, 40, 55, 1) 25%
	);
}
h1 {
	color: white;
}
.title-line {
	display: flex;
	flex-direction: row;
	position: relative;
	left: -160px;
}
.title-line:before,
.title-line:after {
	content: "";
	flex: 1 1;
	border-bottom: 10px solid #214b6b;
	margin: auto;
	border-radius: 20px;
}
.title-line:before {
	margin-right: 10px;
}
.title-line:after {
	margin-left: 10px;
}

/* loader */
.lds-ring {
	position: relative;
	width: 50px;
	height: 50px;
	margin: 0 auto;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 44px;
	height: 44px;
	margin: 5px;
	border: 5px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.swiper-slide:not(.swiper-slide-next) {
	transition: filter 0.3s ease-in-out;
	filter: brightness(20%);
}
.swiper-slide {
	border-radius: 2em;
}
