html,
body {
	/* background: rgb(26, 58, 83); */
	background: rgba(27, 40, 55, 1) 55%;
}
.header {
	background: rgb(26, 58, 83);
	background: radial-gradient(
		circle,
		rgba(26, 58, 83, 1) 0%,
		rgba(27, 40, 55, 1) 55%
	);
}
h1 {
	color: white;
}
.title-line {
	display: flex;
	flex-direction: row;
	position: relative;
	left: -160px;
}
.title-line:before,
.title-line:after {
	content: "";
	flex: 1 1;
	border-bottom: 10px solid #214b6b;
	margin: auto;
	border-radius: 20px;
}
.title-line:before {
	margin-right: 10px;
}
.title-line:after {
	margin-left: 10px;
}
